html
  head
    title= title
    link(rel='stylesheet',href='/static/#{tag}_bundle.css')
  body
    div#jesse
        -if(tag=='vue')
            router-view
    script(src='/static/#{tag}_common.js')
    script(src='/static/#{tag}_bundle.js')
