html
  head
    title= title
  body
    h1= message
    div#chenjiangsong
        -if(commonTag=='vue')
            router-view
    script(src='/static/#{commonTag}_common.js')
    //script(src='/static/#{staticTag}.js')
